<h1>Wiki Page Title</h1>

<p>Wiki Page Body</p>

<div>
  <span>Wiki Page Author</span>
  <span>Wiki Page Creation Date</span>
</div>

<div>
  <%= link_to "Home", wiki_posts_path %>
  <%= link_to "New Wiki Post", new_wiki_post_path %>
</div>